  nav .fa {
    display: none;
  }
  .contain { width: 750px; margin: auto; background-color: #fff; border: #fff 4px solid; border-radius: 10px; box-shadow: 0 20px 65px rgba(87, 11, 16, 0.3);}

.row { display: flex; border-radius: 10px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 6px; }
      
.box { width: 33.3%; height: 300px; transition: width 1s;
          margin-top: auto; overflow: hidden; position: relative; }
          
.box:hover { width: 66%; }

.box img { object-fit: cover; width: 100%; height: 100%; filter: brightness(70%); }
  @media(max-width: 700px) {
    .mid h1 {
        font-size: 60px;
        text-align: center;
  }
  .mid h2 {
    font-size: 27px;
  }
  .mid p {
    font-size: 16px;
  }
  #kid1 {
    height: 150px;
    left: 170px;
  }
  #kid2 {
    height: 150px;
    right: 170px;
  }
  #kid3 {
    height: 150px;
    left: 160px;
    bottom: 30px;
  }
  #kid4 {
    height: 150px;
    right: 170px;
    bottom: 30px;
  }
  .wrapper {
    width: 320px;
    height: 450px;
}
.wrapper h2 {
    font-size: 25px;
}
.container button {
    font-size: 14px;
    padding: 7px 14px;
}
.nav-links ul li {
    display: block;
}
.nav-links {
    position: absolute;
    background: #00dbde;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
.nav-links ul li a {
    font-size: 14px;
    font-weight: 550;
}
nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links {
    padding: 30px;
}
.contain {
    width: 75%;
}
  }