* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.header {
    min-height: 100vh;
    width: 100%;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-color: #00DBDE;
    background-image: linear-gradient(to right bottom, #00dbde, #FC00FF);

}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #00dbde;
    display: block;
    margin: 5px 0px;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.mid {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}
.mid h1 {
    color: white;
    font-weight: 1000;
    font-size: 80px;
    transition: .3s;
      }
.mid h1:hover {
    text-shadow: 4px 4px #00DBDE;
    transition: .3s;
    }
.mid h2 {
    margin: 10px 0px 0px 0px;
    color: #00dbde;
    font-size: 40px;
    text-align: center;
}
.mid p {
    margin: 50px 0px 0px 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
}
#kid1 {
    position: absolute;
    left: 100px;
    background-color: transparent;
    transition: .3s;
      }
#kid1:hover {
        animation: pulse 1s infinite;
        transition: .3s;
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        70% {
          transform: scale(.9);
        }
          100% {
          transform: scale(1);
        }
    }
#kid2 {
    position: absolute;
    right: 100px;
    background-color: transparent;
    transition: .3s;
      }
#kid2:hover {
        animation: pulse 1s infinite;
        transition: .3s;
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        70% {
          transform: scale(.9);
        }
          100% {
          transform: scale(1);
        }
}
#kid3 {
    position: absolute;
    left: 100px;
    bottom: 50px;
    background-color: transparent;
    transition: .3s;
      }
#kid3:hover {
        animation: pulse 1s infinite;
        transition: .3s;
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        70% {
          transform: scale(.9);
        }
          100% {
          transform: scale(1);
        }
}
#kid4 {
    position: absolute;
    right: 100px;
    bottom: 50px;
    background-color: transparent;
    transition: .3s;
      }
#kid4:hover {
        animation: pulse 1s infinite;
        transition: .3s;
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        70% {
          transform: scale(.9);
        }
          100% {
          transform: scale(1);
        }
}
/* gift */
.gift {
    width: 100%;
    background: #86fdff;
    min-height: 100vh;
    padding-top: 20px;
}
#pics {
    display: inline-block;
    height: 70px;
}
.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    background-color: #00DBDE;
    background-image: linear-gradient(to right bottom, #00dbde, #FC00FF);
    padding: 15px;
    box-shadow: 0 20px 65px rgba(87, 11, 16, 0.3);
    border-radius: 20px;
}
.wrapper h2{
    font-size: 50px;
    padding: 25px 50px;
    width: 100%;
    color: white;
    font-weight: 900;
    border-radius: 20px;
    text-align: center;
}
.container {
    margin-top: 10px;
    color: #2e2e2e;
    font-size: 16px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    padding: 50px 30px;
    box-shadow: 0 20px 65px rgba(87, 11, 16, 0.3);
    }
    .container button {
    background-color: #00DBDE;
    background-image: linear-gradient(to right bottom, #00dbde, #FC00FF);
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
    margin-top: 30px;
    transition-timing-function: ease;
    }
    .container button:hover {
        background-color: white;
        background-image: none;
        color: #FC00FF;
        border: #FC00FF solid 2px;
        transition: 0.5s;
    }
